.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50px;
    margin-left: 70px;
    margin-top: 5px;
}

.menu {
    display: flex;
    flex-direction: row;
    text-decoration: none;         
 }

.menu-main-container {
    text-transform: uppercase;
    font-size: 1.5em;
    li{
        padding-left: 10px;  
        padding-right: 10px;    
        }
    a {
        text-decoration: none;
        color: #248A83;
        font-size: 16px;
    }
     


 }
 
.search {
    display: flex;
    padding: 10px;
    #ajaxsearchlite1 {
        justify-content: center;
        align-items: center;
        height: 25px;
    }
}

   
 
 