.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50px;
    margin-left: 70px;

}

.menu {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: flex-end; 
           
 }

.menu li{
    padding: 10px;
         
 }

.menu-main-container {

    text-transform: uppercase;
    font-size: 1.5em;

    .menu {
        a {
            text-decoration: none;
            color: red;
            font-size: 16px;
        }
    }   

 }