.contact {
    margin: 50px 0px 0px 40px;
    line-height: 2.5rem;
}

.sidebar {
    display: grid;
    grid-column: 2 / 3 ;
    grid-row: 1 / 4;
    text-align: left;
    color: #404040;
    font-size: 14px;

    
    i {
        margin-right: 10px;
        color: #404040;   
    }
    .phone {
        font-family: 'merriweather light';
        color: #248A83;
    }
    .mail {
        font-family: 'merriweather light';
        color: #248A83;
    }

    .address {
        font-family: 'merriweather light';
        margin-bottom: 20px;
    }
    
    .operation {
       
        font-family: 'merriweather light';
        margin-bottom: 20px;
        
        b{
            font-family: 'merriweather bold'; 
        }
        
    }
    .archives {
        font-family: 'merriweather light'; 
        color: #248A83;
        line-height: 1.5em;

    }
    
}

.contact strong {
    font-family: 'Novecento Sansbold';
    font-size: 1.4em;
    letter-spacing: 0.1em;
    
}

