.contact {
    margin: 50px 0px 0px 0px;
    line-height: 2.5rem;
}

.sidebar {
    display: grid;
    grid-column: 2 / 3 ;
    grid-row: 1 / 2;
    text-align: left;
    color: #404040;
    font-size: 16px;

    
    
    
    i {
        margin-right: 10px;
        color: #404040;
        
    }
    .phone {
        font-family: 'merriweather light';
        color: #248A83;
    }
    .mail {
        font-family: 'merriweather light';
        color: #248A83;
    }

    .address {
        font-family: 'merriweather light';
    }
    
    .operation {
       
        font-family: 'merriweather light';
        b{
            font-family: 'merriweather bold'; 
        }
        
    }
    .archives {
        font-family: 'merriweather light'; 
        color: #248A83;

    }
    
}

.contact strong {
    font-family: 'Novecento Sansbold';
    font-size: 1.3em;
    letter-spacing: 0.1em;
    
}

