
.about {

    position: relative;
    text-align: center;
    line-height: 1.75;
    
    h2 {
        font-family: 'Novecento Sansbold';
        font-size: 5em;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        color: white;
       
    }
    .attachment-medium.size-medium.wp-post-image {
        filter:brightness(50%);
        width: 100%;
        height: 700px;
        
        height: auto;
        object-fit: cover;
        top: 0;
        z-index: -99;
        
    }

    // background-position-y: bottom;
    // max-width: 100%;
    // height: 700px;
    // object-fit: cover;
    // position: absolute;
    // top: 0;
    // z-index: -1;
   
   
}





.text-content {
    font-family: 'Merriweather light';
    font-size: 1.5em;
    // display: grid;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    strong {
        font-family: 'Novecento sansbold';
        font-size: 2em;
        color: black;
    }
    
    
}


