
.about {
    
    text-align: center;
    line-height: 1.75;
    font-size: 16px;
}

.image {
    filter:brightness(50%);
    width: 100%;
    object-fit: cover;
    top: 0;
    z-index: -1;
}

.attachment-medium.size-medium.wp-post-image {
    width: 100%;
    height: auto;
    
}

.text-content {
    display: grid;
    margin-left: 150px;
    margin-right: 150px;
    .title {
        color: green;
    }
    
}


