
.about {
    
    text-align: center;
    line-height: 1.75;
    font-size: 16px;
}

.attachment-medium.size-medium.wp-post-image {
    width: 100%;
    height: auto;
    
}

.text {
    display: grid;
    margin: 10px 300px;
    z-index: 999;
    
}

