.findus {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 1fr 4fr;
    margin: 50px;
    align-items: left;

    .p {
        grid-column: 1 / 2 ;
        grid-row: 1 / 3 ;
        
        
    }
    .sidebar {
        grid-column: 2 / 3 ;
    }

    .strong {
        text-transform: uppercase;

    }
    h3 {
        font-size: 36px;
        
    }
}


form {

    text-transform: uppercase;
    grid-row: 3;
    grid-column: 1 / 2;
    

    .text {
        background-color:rgb(238, 238, 238);
        margin-top: 10px;
        width: 400px;
        height: 30px;
    }
    .email {
        background-color: rgb(238, 238, 238);
        margin-top: 10px;
        width: 400px;
        height: 30px;
    }
    .submit {
        background-color: #248A83;
        border-radius: 1px;
        color: white;
        text-transform: uppercase;
        width: 75px;
        height: 30px;
    }
    .message {
        background-color: rgb(238, 238, 238);

    }
}



