.findus {
    display: grid;
    grid-template-columns: 3fr 1.2fr;
    grid-template-rows: 2fr 1fr 3fr;
    align-items: left;
    border-top: 2px solid #e1e1e1;
    .p {
        grid-column: 1 / 2 ;
        grid-row: 1 / 3 ;       
    }
    .sidebar {
        grid-column: 2 / 3 ;
    }
    .strong {
        text-transform: uppercase;
    }
    h3 {
        font-family: 'novecento sansbold';
        letter-spacing: 0.1em;
        font-size: 2em;
        border-right: 2px solid #e1e1e1; 
        margin-left: 60px;
        margin-bottom: 20px;    
        text-transform: uppercase;   
    }
    h4 {
        font-family: 'merriweather light';
        margin-left: 60px;
        margin-top: -40px;
        padding-right: 50px;
        border-right: 2px solid #e1e1e1;
        letter-spacing: 0.1em;
        p {
            margin-bottom: 10px;
        }
        strong {
        font-family: 'novecento sansbold';
        font-size: 1.75em;
        text-transform: uppercase;
        }
    }

}

form {

    text-transform: uppercase;
    grid-row: 3;
    grid-column: 1 / 2;
    border-right: 2px solid #e1e1e1;
    margin-left: 60px;
    span {
        color: #d99054;
    }
    .text {
        background-color:rgb(238, 238, 238);
        border: 2px solid #e1e1e1;
        margin-top: 10px;
        width: 350px;
        height: 30px;
    }
    .email {
        background-color: rgb(238, 238, 238);
        border: 2px solid #e1e1e1;
        margin-top: 10px;
        width: 350px;
        height: 30px;
    }
    .submit {
        background-color: #248A83;
        font-size: 13px;
        color: white;
        text-transform: uppercase;
        width: 90px;
        height: 35px;
        margin-top: 15px;
    }
    .message {
        background-color: rgb(238, 238, 238);
        border: 2px solid #e1e1e1;
    }
}



