

.front {

width: 100%;
height: 600px;
}


.nav {
    color: white;
    font-size: 16px;
    color: white;
}



.background {
    background-position-y: bottom;
    max-width: 100%;
    height: 800px;
    filter:brightness(50%);
    height: 700px;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
     
}

.main-logo {
    width: 250px;
    position: relative;
    left: 40%;      
}



body {

    font-family: 'novecento sans';
    font-size: 16px;
    color: #404040;
    line-height: 1.75;
    
        h1 {   
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
        margin-top: 100px;
        letter-spacing: 0.1em;
        }
        h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
        letter-spacing: 0.1em;
        }
    

    

}

.shop {
    display: grid;
    margin:50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    text-align: center;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    
    .dostuff {
        border-top: 5px solid #e1e1e1;
        border-left: 2px solid #e1e1e1;
        border-right: 2px solid #e1e1e1;
        border-bottom: 2px solid #e1e1e1;
        height: 250px;
        .do {
            width: 110px;
            height: 37px;
            background-color: #248A83;
            color: white;
            font-size: 12px;
            padding-left: 10px;
            padding-left: 10px;
            font-weight: 500;
        }
           
        
    }
    .eatstuff {
        border-top: 5px solid #e1e1e1;
        border-left: 2px solid #e1e1e1;
        border-right: 2px solid #e1e1e1;
        border-bottom: 2px solid #e1e1e1;
        height: 250px;
        .eat {
            width: 110px;
            height: 37px;
            background-color: #248A83;
            color: white;
            font-size: 12px;
            padding-left: 10px;
            padding-left: 10px;
            font-weight: 500;
        }
    }
    .sleepstuff {
        border-top: 5px solid #e1e1e1;
        border-left: 2px solid #e1e1e1;
        border-right: 2px solid #e1e1e1;
        border-bottom: 2px solid #e1e1e1;
        height: 250px;
        .sleep {
            width: 110px;
            height: 37px;
            background-color: #248A83;
            color: white;
            font-size: 12px;
            padding-left: 10px;
            padding-left: 10px;
            font-weight: 500;
        }
    }
    .wearstuff {
        border-top: 5px solid #e1e1e1;
        border-left: 2px solid #e1e1e1;
        border-right: 2px solid #e1e1e1;
        border-bottom: 2px solid #e1e1e1;
        height: 250px;
        .wear {
            width: 110px;
            height: 37px;
            background-color: #248A83;
            color: white;
            font-size: 12px;
            padding-left: 10px;
            padding-left: 10px;
            font-weight: 500;
        }
    }
    
}

.journal {

    display: grid;
    margin: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    height: 200px;
    background-color: khaki;
}

.adventures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    // height: 550px;
    margin: 50px;
    column-gap: 20px;
    row-gap: 20px;
   
        .a-one { 
            grid-column: 1 / 3;
            grid-row: 1 / 3;
            
        }
        .a-two {
            grid-column: 3 / 5;
            grid-row: 1 / 2;
        }
        .a-three {
            grid-column: 3 / 4;
            grid-row: 2 / 3
        }
        .a-four {
        grid-column: 4 / 5;
        grid-row: 2 / 3
        }
    
}










