.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
   
    .posts {
        grid-column-start: 1;
         
    }
    .sidebar {
        display: grid;
        grid-column-start: 2;
    

    }
    
    // .sidebar {
    //     display: grid;
    //     grid-column-start: 2;
        
    //     background-color: orange;
        
    // }
    
    
}


