.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: 2px solid;
    border-color: #e1e1e1;

   
    .posts {
        grid-column-start: 1;
        position: relative;
        padding: 30px 50px 30px 30px;
        
        h2 {
            position: absolute;
            font-size: 20px;
            text-align: left;
            background-color: cadetblue;
            padding: 20px;
            color: white;
            padding: 20px;
        }
        
         
    }
   

    
}

.nav {
    padding-bottom: 10px;
}


