
.dashed {
    border: 1px dashed #c8c8c8;
    margin: 50px;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    border-radius: 1px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;

    button { 
        font-family: 'Merriweather light';
        font-size: 14px;
        text-align: center;
        width: 100%;
        border: 1px solid #a1a1a1;
        border-top: 5px solid #a1a1a1;
        padding: 10px;
        background-color: white;
        text-decoration: none;
        
    }
    
    
    img {  
        width: 100%;
        max-height: 240px;
        object-fit: cover;
    }
    
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    li {
        padding: 10px;
        font-size: 1em;
        color: #248A83;
        text-transform: uppercase;
    }
      
}

h2 {
    margin-top: 50px;


}



