.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    border-radius: 2px;
    margin-left: 50px;
    margin-right: 50px;
    

    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
    
}



.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    
    
}

