.single-product {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 1fr 0.2fr;
    grid-template-areas:
    "single-image single-text "
    "sing;e-image single-text";
    column-gap: 40px;
    border-top: 2px solid #e1e1e1;

    .single-image {
        
        grid-column: 1 / 2;
        margin-left: 70px;
    
        margin-top: 50px;
        img {
        width: 475px;
        height: auto;
        }
    }

    
    .single-title {
        grid-column: 2 / 3;
        font-family: 'Novecento sansbold';
        color: #d99054;
        h2 {
        text-align: left;
        align-items: left;
        margin-right: 70px;
        
        }
    }
    .single-price {
        
        font-size: 1.6em;
        padding-bottom: 20px;
    }
    .single-content {
        font-family: 'merriweather light';
        font-size: 14px;
        margin-right: 70px;
        margin-bottom: 20px;
    }

    a {
        padding: 10px 20px;
        background: white;
        border: 1px solid #404040;
        text-decoration: none;
        color: #404040;
        
    }

    
}